<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="yes" name="apple-touch-fullscreen">
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
		<meta content="telephone=no,email=no" name="format-detection">
		<title>登录</title>
		<link rel="stylesheet" type="text/css" href="/Public/Mobile/css/sign_in.css" />
		<link rel="stylesheet" type="text/css" href="/Public/Mobile/font-awesome-4.7.0/css/font-awesome.min.css" />
		<script src="/Public/Mobile/js/flexible.js"></script>
	</head>

	<body>
		<div class="banner">
			<img src="/Public/Mobile/img/blogo.png" />
		</div>
		<div class="sign_in_form">
			<p><i class="fa fa-user-o fa-lg"></i><input id="username" type="text" placeholder="请输入您的账号" /></p>
			<p class="pass"><i class="_key"><img src="/Public/Mobile/img/password.png"/></i><input type="password" id="password" placeholder="请输入您的密码" /></p>
			<span class="remember"><i class="fa fa-square-o fa-lg"></i>记住密码</span>
		</div>
		<div class="sign_in_but">
			登录
		</div>
		
		<div class="sign_up_but">
			还没有账号？<a href="#">注册</a>
		</div>
	</body>
	<script src="/Public/Mobile/js/jquery-3.1.1.min.js"></script>
	<script src="/Public/Mobile/js/jquery.cookie.js"></script>
	<script>
		$(document).ready(function() {
			if($.cookie("rmbUser") == "true") {
				$(".remember>i").removeClass("fa-square-o")
				$(".remember>i").addClass("fa-check-square-o");
				$("#username").val($.cookie("username"));
				$("#password").remove();
				$(".pass").append("<input id='password' type='password'placeholder='请输入您的密码' class='txt2'/>");
				$("#password").val($.cookie("password"));
				
				$.ajax({
				type: "post",
				data: {
					username: $("#username").val(),
					password: $("#password").val()
				},
				url: "/api/login",
				success: function(data) {
					window.location.href = "/m"
				}
				
			});
			}
			
			
			$(".sign_in_form input").focus(function() {
			$(".sign_in_form>p").removeClass("active_focus")
			$(this).parent().addClass("active_focus")
		}).blur(function(){
			$(".sign_in_form>p").removeClass("active_focus")
			$(this).parent().addClass("active_focus")
		})
		});

		

		$(".remember").click(function() {
			if(!$(this).find("i").hasClass("fa-check-square-o")) {
				$(this).find("i").removeClass("fa-square-o")
				$(this).find("i").addClass("fa-check-square-o")
				remember()
			} else {
				$(this).find("i").removeClass("fa-check-square-o")
				$(this).find("i").addClass("fa-square-o")
				forget()
			}

		})

		$(".sign_in_but").click(function() {
			$.ajax({
				type: "post",
				data: {
					username: $("#username").val(),
					password: $("#password").val()
				},
				url: "/api/login",
				success: function(data) {
					if(data.result){
						window.location.href = "/m"
					}else{
						alert(data.msg)
					}
				}
			});
		})

		function remember() {
			var username = $("#username").val();
			var password = $("#password").val();
			$.cookie("rmbUser", "true", {
				expires: 30
			});
			$.cookie("username", username, {
				expires: 30
			});
			$.cookie("password", password, {
				expires: 30
			});
		}

		function forget() {
			$.cookie("rmbUser", "false", {
				expire: -1
			});
			$.cookie("username", "", {
				expires: -1
			});
			$.cookie("password", "", {
				expires: -1
			});
		}
	</script>

</html>