<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="yes" name="apple-touch-fullscreen">
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
		<meta content="telephone=no,email=no" name="format-detection">
		<title>登录</title>
		<link rel="stylesheet" type="text/css" href="/Public/Mobile//css/logon.css" />
		<link rel="stylesheet" type="text/css" href="/Public/Mobile/font-awesome-4.7.0/css/font-awesome.min.css" />
		<script src="/Public/Mobile/js/flexible.js"></script>
	</head>

	<body>
		<div class="banner">
			<img src="/Public/Mobile/img/blogo.png" />
		</div>
		<div class="sign_in_form xy_form">
			<div class="CRM_TEMPLET" data-templet="CRM_TEMPLET_INPUT" style="display: none;">
				<p><i class="fa fa-user-o fa-lg"></i><input type="text" id="" placeholder=""></p>
			</div>
			<div class="CRM_TEMPLET" data-templet="CRM_TEMPLET_XY_a02" style="display: none;">
				<p class="_phone"><i class="fa fa-phone fa-lg"></i><input type="text" id="" placeholder=""><button class="code_but">获取验证码</button></p>

			</div>
			<div class="CRM_TEMPLET" data-templet="CRM_TEMPLET_XY_c03" style="display: none;">
				<p><i class="_key"><img src="img/password.png"/></i><input type="text" id="" placeholder=""></p>
			</div>
			<div class="CRM_TEMPLET" data-templet="CRM_TEMPLET_XY_c02" style="display: none;">
				<p><i class="fa fa-sort-numeric-asc fa-lg"></i><input type="text" id="" placeholder=""></p>
			</div>
		</div>
		<div class="sign_in_but xy_submit">
			注册
		</div>

		<div class="sign_up_but">
			已有账号？
			<a href="#">登录</a>
		</div>
	</body>
	<script src="/Public/Mobile/js/jquery-3.1.1.min.js"></script>
	<script src="/Public/Mobile/js/jquery.cookie.js"></script>
	<script src="http://crm.xiaoying.net/Public/js/xiaoying_form.js"></script>
	<script>
		function _focus(){
			$(".sign_in_form input").focus(function() {
			$(".sign_in_form>p").removeClass("active_focus")
			$(this).parent().addClass("active_focus")
		}).blur(function() {
			$(".sign_in_form>p").removeClass("active_focus")
			$(this).parent().addClass("active_focus")
		})
		}
		


		$(".sign_in_form").xiaoyingForm({
			parameter: [{
					errorMes: "姓名格式不正确",
					id: "XY_a01",
					rename: "姓名",
					reg: "required",
					placeholder: "请输入您的姓名"
				},
				{
					errorMes: "电话格式不正确",
					id: "XY_a02",
					rename: "电话",
					reg: "required",
					placeholder: "请输入您的电话"
				},
				{
					errorMes: "验证码格式不正确",
					id: "XY_c02",
					reg: "required"
				},
				{
					errorMes: "密码",
					id: "XY_c03",
					reg: "required"
				},
			],
			sendMes: ".code_but",
			submitBtn: ".sign_in_but",
			beforeSendData: function(_data, cb) {
				cb(_data);
			},
			beforeLoadField: function(res) {
				return res;
			},
			afterLoadField: function() {
				_focus()
			},
			validatorError: function(mes, node) {
				alert(mes);
			},
			submitSuccess: function() {
				alert("申请成功！请等到老师与您联系");
			},
			submitError: function() {}
		});
	</script>

</html>