<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="yes" name="apple-touch-fullscreen">
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
		<meta content="telephone=no,email=no" name="format-detection">
		<title>编辑资料</title>
		<link rel="stylesheet" type="text/css" href="/Public/Mobile/css/set.css" />
		<link rel="stylesheet" type="text/css" href="/Public/Mobile/font-awesome-4.7.0/css/font-awesome.min.css" />
		<script src="/Public/Mobile/js/flexible.js"></script>
		<script src="https://cdn.bootcss.com/vue/2.5.13/vue.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/Public/Mobile/css/webuploader.css" />
	</head>

	<body>
		<div id="setting">

			<header class="header">
				<div>
					<a href="javascript:;" onClick="javascript :history.back(-1);"><i class="fa fa-angle-left fa-2x">
						</i>
					</a>
					<span>编辑资料</span>
					<a href="#"></a>
				</div>

			</header>
			<div class="title_name">
				<div id="uploader" class="wu-example">

					
					<span>
						<img class="header_img" v-if="data.info.profile != null" :src="['/'+data.info.profile.headpic]" />
						<img v-else src="/Public/Mobile/img/pic_img.png" />
						<span>{{data.info.profile.nickname}}</span>
					</span>
					<a href="javascript:void(0)" class="fa fa-pencil-square-o fa-lg" id="picker"></a>
					<!--<div id="uploader" class="wu-example">
						<div id="thelist" class="uploader-list"></div>
						<div class="btns">
							<div id="picker">选择文件</div>
							<button id="ctlBtn" class="btn btn-default">开始上传</button>
						</div>
					</div>-->

				</div>

			</div>
			<div class="set_content">
				<ul class="content">
					<li class="_title">基本信息</li>
					<li><span>学号</span><input type="text" readonly="readonly" v-model="data.info.code" /></li>
					<li><span>真实姓名</span><input type="text" readonly="readonly" id="realname" v-model="data.info.realname" /></li>
					<li><span>昵称</span><input class="focus" type="text" id="nickname" v-model="data.info.profile.nickname" /></li>
					<li><span>手机号</span><input class="focus" type="text" id="bind_mobile" v-model="data.info.bind_mobile" /></li>
					<li><span>联系地址</span><input class="focus" type="text" id="address" v-model="data.info.profile.address" /></li>
					<li><span>性别</span>
						<select name="" id="sex" class="focus" v-model="data.info.profile.sex">
							<option value="0">男</option>
							<option value="1">女</option>
						</select>
					</li>
					<li class="_sub"><button class="con_cancel">取消</button><button id="cont_sub">保存</button></li>
				</ul>
				<!--			<div class="security">-->
				<!--<p class="_title">账户安全</p>-->

				<div class="security">
					<p class="_title">账户安全 <i class="fa fa-angle-down fa-2x"></i></p>
					<ul>
						<li><span>旧密码</span><input class="focus" id="oldpassword" type="password" /></li>
						<li><span>新密码</span><input class="focus" id="newpassword" type="password" /></li>
						<li><span>确认密码</span><input class="focus" id="confirmPass" type="password" /></li>
						<li class="_sub"><button class="sec_cancel">取消</button><button id="sec_sub">保存</button></li>
					</ul>

					<div>
					</div>

				</div>
				<div class="out">
					<a href="javascript:;">退出登录</a>
				</div>
			</div>
		</div>
	</body>
	<script src="/Public/Mobile/js/jquery-3.1.1.min.js"></script>
	<script src="/Public/Mobile/js/webuploader.js"></script>
	<script src="/Public/Mobile/js/jquery.cookie.js"></script>
	<script>
		var setting = new Vue({
			el: "#setting",
			data: {
				data: {

				}
			},
			methods: {
				get_set: function() {
					var _self = this
					$.ajax({
						type: "post",
						url: "/api/student/info",
						success: function(res) {
							if(res.result == false){
								alert(res.msg)
								window.location.href = "/m/login"
							}else{
							_self.data = res
							}
						}
					});
				},
				con_cancel: function(a) {
					a.fadeOut("fast")
					$(".content input , .content select").blur();
				},
				con_sub: function(a) {
					a.fadeOut("fast")
					$(".content input , .content select").blur();
					$.ajax({
						type: "post",
						url: "/api/profile/setting",
						dataType: "json",
						data: {
							nickname: $("#nickname").val(),
							bind_mobile: $("#bind_mobile").val(),
							address: $("#address").val(),
							sex: $("#sex").val(),
						},
						success: function(res) {

						}
					});
				},
				sec_cancel: function(a) {
					a.animate({
						height: 0
					}, 200, function() {
						a.hide()
					})
				},
				sec_sub: function(a) {
					a.animate({
						height: 0
					}, 200, function() {
						a.hide()
					})
					if($("#newpassword").val() == "" || $("#confirmPass").val() == "" || $("#confirmPass").val() == "") {
						alert("密码格式不对！")
					} else if($("#newpassword").val() != $("#confirmPass").val()) {
						alert("两次密码输入不一致！")
					} else {
						$.ajax({
							type: "post",
							url: "/api/reset",
							dataType: "json",
							data: {
								oldpasswd: $("#oldpassword").val(),
								newpasswd: $("#newpassword").val(),
								newpasswd2: $("#confirmPass").val()
							},
							success: function(res) {

							}

						});
					}

				},
				_animate: function(a) {
					if(a.is(":hidden")) {
						a.height("auto");
						var _height = a.height() + "px";
						a.height(0);
						a.show()
						a.animate({
							height: _height
						}, 200)
					} else {
						a.animate({
							height: 0
						}, 200, function() {
							a.hide()
						})

					}
				}
			},
			mounted() {
				//取消个人信息设置
				$(document).on('click', '.con_cancel', function() {
					setting.con_cancel($(".content ._sub"))
				})
				//保存个人信息设置
				$(document).on('click', '#cont_sub', function() {
					setting.con_sub($(".content ._sub"))
				})
				//展开账号设置
				$(document).on('click', ".security ._title", function() {
					setting._animate($(".security>ul"))
				})
				//取消账号设置
				$(document).on('click', ".sec_cancel", function() {
					setting.sec_cancel($(".security>ul"))
				})
				//保存账号设置
				$(document).on('click', '#sec_sub', function() {
					setting.sec_sub($(".security>ul"))
				})
				$(document).on('focus', '.content input , .content select', function() {
					if($(".content ._sub").is(":hidden")) {
						$(".content ._sub").fadeIn("fast")
					}
					$(this).css({
						"color": "#333333"
					})
				}).blur(function() {
					$(this).css({
						"color": "#999999"
					})
				})

				$(document).on('click', '.out', function() {
					$.ajax({
						type: "post",
						url: "/api/logout",
						success: function(data) {
							forget()
							window.location.href = "/m/login"
						}
					});
				})

			},
			updated() {
				//图片上传
				uploader()
			}

		})

		setting.get_set()

		function uploader() {

			// 初始化Web Uploader
			var uploader = WebUploader.create({
				// 选完文件后，是否自动上传。
				auto: true,

				// swf文件路径
				swf: '/Public/Mobile/js/Uploader.swf',

				// 文件接收服务端。
				server: "/api/upload/headpic",

				// 选择文件的按钮。可选。
				// 内部根据当前运行是创建，可能是input元素，也可能是flash.
				pick: {
					id: "#picker",
					multiple: false,
				},
				fileNumLimit: 1,
				// 只允许选择图片文件。
				accept: {
					title: 'Images',
					extensions: 'gif,jpg,jpeg,bmp,png',
					mimeTypes: 'image/*'
				},
				duplicate: true,
			});
			uploader.on('uploadSuccess', function(file) {
				setting.get_set()
			});
		}
		
				function forget() {
			$.cookie("rmbUser", "false", {
				expire: -1
			});
			$.cookie("username", "", {
				expires: -1
			});
			$.cookie("password", "", {
				expires: -1
			});
		}
	</script>

</html>