@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

a,
li,
i {
  text-decoration: none;
  font-style: normal;
  list-style: none;
}

body {
	width: 10rem;
	margin:0 auto;
  font-family: "微软雅黑";
  font-size: 0.426667rem;
  color: #333333;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.header {
  height: 1.173333rem;
  width: 9.2rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header .logo {
  width: 2.106667rem;
}

.header .tel {
  width: 2.506667rem;
}
.header>div>a:nth-of-type(1){
	color: #333333;
	
}
.headpic{
	width: 0.74rem;
	height: 0.74rem;
	border-radius: 50%;
	overflow: hidden;
}
.headpic>img{
		width: 100%;
	}
.header>div>i{
display: inline-block;
margin: 0 0.05rem;
color: #999999;
}
.header>div>a:nth-of-type(2){
	color: #999999;
}

.banner {
  width: 100%;
}

.banner > img {
  width: 100%;
}
.banner>div>a{
	font-size: 32px;
}

.content {
  margin-top: 0.266667rem;
  width: 100%;
}

.content .con_tab {
  text-align: center;
}

.content .con_tab > span {
  margin-right: 0.4rem;
  position: relative;
  font-size: 0.426667rem;
  cursor: pointer;
}

.content .con_tab > span > i {
  display: inline-block;
  width: 0.48rem;
  height: 0.053333rem;
  background: white;
  border-radius: 2.666667rem;
  position: absolute;
  left: 50%;
  bottom: -0.106667rem;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.content .con_tab .active_tab {
  color: #46C37B;
}

.content .con_tab .active_tab > i {
  background: #46C37B !important;
}

.active_condition {
  color: #46C37B !important;
}

._swiper {
  width: 9.2rem;
  margin: 0.4rem auto;
}

._swiper ._shadow {
  position: relative;
}

._swiper ._shadow > i {
  position: absolute;
  top: 0;
  right: 0;
  width: 0.066667rem;
  background: white;
  height: 100%;
  z-index: 99;
  -webkit-box-shadow: 0 0 0.32rem 0.24rem white;
  box-shadow: 0 0 0.32rem 0.24rem white;
}

._swiper > div {
  width: 100%;
  overflow: hidden;
}

._swiper > div .swi {
  width: 2.2rem;
  display: inline-block;
  float: left;
  font-size: 0.426667rem;
  color: #999999;
}

._swiper > div .swiper-container6 {
  width: 7rem;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  float: left;
}

._swiper > div .swiper-container6 .swiper-slide {
  font-size: 0.426667rem;
  color: #333333;
  cursor: pointer;
}

._swiper .class_list {
  width: 100%;
  overflow: hidden;
  min-height: 6.5rem;
}

._swiper .class_list > li {
  width: 4.453333rem;
  margin-right: 0.266667rem;
  margin-top: 0.266667rem;
  float: left;
}
._swiper .class_list > li >a{
	display: inline-block;
	width: 100%;
}
._swiper .class_list > li >a .item_img{
	min-height:2.36rem;
}
._swiper .class_list > li >a .item_img > img {
  width: 100%;
  margin-bottom: 0.266667rem;
  height:2.3rem ;
}

._swiper .class_list > li .item_title {
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.426667rem;
  color: #333333;
  margin-bottom: 0.2rem;
}

._swiper .class_list > li .item_time,
._swiper .class_list > li .item_teacher {
  font-size: 0.373333rem;
  color: #999999;
}

._swiper .class_list > li .item_deta {
  margin: 0.2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

._swiper .class_list > li .item_deta > span {
  font-size: 0.373333rem;
  color: #46C37B;
}

._swiper .class_list > li:nth-of-type(2n) {
  margin-right: 0;
}

._swiper .spinner {
  display: none;
  margin-top: 0.266667rem;
  width: 100%;
  height: 0.4rem;
  text-align: center;
  color: #999999;
}

._swiper .spinner > i {
  margin-right: 0.133333rem;
}

.footer {
  width: 100%;
  font-size: 0.32rem;
  color: #999999;
  text-align: center;
  padding: 0.266667rem 0;
  border-top: 0.026667rem solid #efefef;
}

.footer > p > a {
  color: #999999;
}
/*# sourceMappingURL=public_class.css.map */
