@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

i,
a,
li {
  font-style: normal;
  text-decoration: none;
  list-style: none;
}
img{
	border: none;
}
body {
  width: 10rem;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: "微软雅黑";
    -webkit-tap-highlight-color: transparent;
}

.header {
  width: 100%;
  background: #23c25f;
}

.header > div {
  width: 92%;
  margin: 0 auto;
  height: 1.093333rem;
  padding: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header > div > a {
  color: white;
  font-size: 0.386667rem;
}

.header > div > a > i {
  color: white;
  padding-right: 0.5rem;
}

.header > div > span {
  font-size: 0.48rem;
  color: white;
}

.video_box {
  width: 100%;
  position: relative;
  font-size: 0;
  height:5.3rem ;
}

.video_box > img {
  width: 100%;
  height: 100%;
}

.video_box > p {
  width: 92%;
  font-size: 0.48rem;
  color: white;
  position: absolute;
  top: 80%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 9;
}

.video_box .menban {
  display: block;
  font-size: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
}

.video_box .menban > img {
  width: 100%;
  height: 100%;
}

.backg {
  background: black !important;
}

.detail_text {
  width: 10rem;
  margin: 0 auto;
  padding: 0.266667rem 0;
  border-bottom: 0.266667rem solid #efefef;
}

.detail_text .de_time,
.detail_text .de_teacher {
  width: 9.2rem;
  margin: 0 auto;
  font-size: 0.373333rem;
  color: #333333;
  line-height: 0.666667rem;
}

.detail_text .de_number {
  font-size: 0.373333rem;
  width: 9.2rem;
  margin: 0 auto;
}

.detail_text .de_number > span {
  display: inline-block;
  width: 2.933333rem;
  color: #46C37B;
}

.de_content {
  width: 100%;
  margin-bottom: 1.066667rem;
}

.de_content .de_tab {
  padding: 0.266667rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 0.026667rem solid #EFEFEF;
}

.de_content .de_tab > span {
  font-size: 0.426667rem;
  color: #333333;
  position: relative;
  cursor: pointer;
}

.de_content .de_tab > span > i {
  position: absolute;
  bottom: -0.066667rem;
  left: 50%;
  display: inline-block;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0.48rem;
  height: 0.053333rem;
  background: white;
  border-radius: 2.666667rem;
}

.de_content .de_tab .active_tab {
  color: #46C37B !important;
}

.de_content .de_tab .active_tab > i {
  background: #46C37B !important;
}

.de_content .content_text {
  width: 9.2rem;
  margin: 0 auto;
  padding: 0.266667rem 0;
  min-height: 5rem;
}

.de_content .content_text > div {
  display: none;
  font-size: 0.373333rem;
  color: #666666;
}
.de_content .content_text img{
	width: 100%;
}
.de_content .content_text > div:nth-of-type(1) {
  display: block;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background: white;
  border-top: 0.026667rem solid #efefef;
}

.footer > a {
  display: inline-block;
  padding: 0.266667rem 0;
  width: 49%;
  font-size: 0.426667rem;
  text-align: center;
  color: #333333;
}

.footer > a:nth-of-type(2) {
  background: #46C37B;
  color: white;
  float: right;
}
/*# sourceMappingURL=View_mdetail.css.map */
