<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="ie lt-ie9 lt-ie8 lt-ie7" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if IE 7]>
<html class="ie lt-ie9 lt-ie8" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if lt IE 10]>
<html class="ie ltie10" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>小莺出国-小莺出国</title>
    <link rel="stylesheet" href="__PUBLIC__/Open/css/reset.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Open/css/animate.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Open/css/index.css">
    <script type="text/javascript" src="__PUBLIC__/Open/js/jquery-1.9.1.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.13/vue.min.js"></script>
    <script src="__PUBLIC__/Open/js/jqPaginator/jqPaginator.min.js"></script>
    <script src="__PUBLIC__/Open/js/index.js"></script>
</head>

<body>
    <div class="top">
        <div class="container clearfix">
            <a href="/index.html">
                <img src="__PUBLIC__/Open/images/logo.svg" alt="" class="logo">
            </a>
            <div class="telPart">
                <img src="__PUBLIC__/Open/images/phone.png" alt="" class="phone">
                <p>客服咨询电话
                    <br />4000-150-170</p>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="container">
            <img src="__PUBLIC__/Open/images/title.png" alt="" class="title">
            <img src="__PUBLIC__/Open/images/women.png" alt="" class="women">
        </div>
    </div>
    <div id="openclass" class="main">
        <div class="choosePart">
            <ul class="chooseUl a container">
                <li>直播类型：</li>
                <li class="item active" @click="choose('livecate','')">全部</li>
                <li class="item" @click="choose('livecate',n.id)" v-for="(n,index) in cate['livecate']" :data-val="n.cate_name">{{n.cate_name}}</li>
            </ul>
            <ul class="chooseUl b container">
                <li>直播内容：</li>
                <li class="item active" @click="choose('livecontent','')">全部</li>
                <li class="item" @click="choose('livecontent',n.id)" v-for="(n,index) in cate['livecontent']" :data-val="n.cate_name">{{n.cate_name}}</li>
            </ul>
        </div>
        <div class="container">
            <ul class="classUl">
                <li class="classItem" v-for="n in classdata">
                    <a :href="'./open/detail?id='+n.id" class="block_a">
                        <img src="__PUBLIC__/Open/images/play.png" class="play" />
                        <img :src="crm_domain+n.t_img_url" alt="" class="img">
                    </a>
                    <div class="inner">
                        <p class="name">{{n.names}}</p>
                        <p class="line">
                            <span class="title">时间:</span>{{n.start_time}}
                        </p>
                        <p class="line">
                            <span class="title">讲师:</span>{{n.teacher}}
                        </p>
                        <p class="line">
                            <span class="title">时长:</span>{{n.timelength}}分钟
                        </p>
                    </div>
                    <section class="bottomFont">
                        <div class="style_view-num">学习人数 {{n.studynum}}</div>
                        <a :href="'./open/detail?id='+n.id" class="style_view-readmore">查看详情</a>
                    </section>
                </li>
            </ul>
            <div class="pageNav" id="jqPaginator"></div>
        </div>
    </div>
    <p class="footer">
        热线电话：0512-65684901
        <br />小莺教育科技有限公司 苏ICP备17069390号
    </p>
</body>

</html>