<script src="__PUBLIC__/main.js"></script>
<link rel="stylesheet" href="__PUBLIC__/Open/css/header.css">
<div class="top" id="openHeader">
    <div class="container clearfix">
        <a href="/open" class="logo">
        	<img src="__PUBLIC__/Open/images/logo.svg" alt="">
        </a>
        <div v-if="!flag" class="btngroup">
            <a href="/user/#/login?a=register" @click="setHref()">注册</a>
            <a href="/user/#/login?a=login" @click="setHref()">登录</a>
        </div>
        <div v-else class="infogroup">
        	<a href="/user" class="facePic"><img :src="info.headpic" alt=""></a>
        	<a href="/user" class="u_name" v-html="info.nickname"></a>
        	<span class="logout" @click="logout()">&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;退出</span>
        </div>
    </div>
</div>
<script src="__PUBLIC__/tool.js"></script>
<script type="text/javascript">
$(function() {
    var openHeader = new Vue({
        el: '#openHeader',
        data: {
        	flag:false,
        	info:{}
        },
        methods: {
            getInfo: function() {
            	var _this = this;
            	$.ajax({
                    url:"/api/profile",
                    type:"POST",
                    datatype:"json",
                    success:function(res){
                    	if (res.result) {
                			_this.flag = true;
                    		_this.info = res.info.profile;
                            utily.setStore('xy_nickname',res.info.profile.nickname) 

                            var _headpic = res.info.profile.headpic;
                            if (_headpic && _headpic.length > 0) {
                                var _s = _headpic.substr(1,_headpic.length);
                                res.info.profile.headpic = _s
                                utily.setStore('xy_headpic',_s)
                            }else{
                                utily.setStore('xy_headpic','')
                            }
                    	}
                    	else if (!res.result || res.msg == '请先登录') {
                			_this.flag = false;
                    	}
                    }
            	});
                
            },
            logout:function(){
            	var _this = this;
            	$.ajax({
                    url:"/api/logout",
                    type:"POST",
                    datatype:"json",
                    success:function(res){
                    	if (res.result) {
    						_this.flag = false;
                    		utily.logout('refresh');
                    	}
                    }
            	});
            },
            setHref(){
                utily.setStore('xy_logined_href',location.href)
            }
        },
        mounted() {
        	if (utily.getStore('xy_nickname')) {
        		this.info.nickname = utily.getStore('xy_nickname')
        		this.info.headpic = utily.getStore('xy_headpic')
    			this.flag = true;
        	}else{
            	this.getInfo();
        	}
        }
    });
})
</script>