<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="ie lt-ie9 lt-ie8 lt-ie7" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if IE 7]>
<html class="ie lt-ie9 lt-ie8" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<!--[if lt IE 10]>
<html class="ie ltie10" lang="zh-CN" itemscope itemtype="http://schema.org/WebPage"> <![endif]-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>小莺出国-小莺出国</title>
    <link rel="stylesheet" href="__PUBLIC__/Open/css/reset.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Open/css/animate.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Open/css/detail.css">
    <script type="text/javascript" src="__PUBLIC__/Open/js/jquery-1.9.1.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.13/vue.min.js"></script>
    <script src="__PUBLIC__/Open/js/jqPaginator/jqPaginator.min.js"></script>
    <script src="__PUBLIC__/Open/js/detail.js"></script>
</head>

<body>

    <script type='text/javascript'>
    (function(m, ei, q, i, a, j, s) {
        m[i] = m[i] || function() {
            (m[i].a = m[i].a || []).push(arguments)
        };
        j = ei.createElement(q),
            s = ei.getElementsByTagName(q)[0];
        j.async = true;
        j.charset = 'UTF-8';
        j.src = 'https://static.meiqia.com/dist/meiqia.js?_=t';
        s.parentNode.insertBefore(j, s);
    })(window, document, 'script', '_MEIQIA');
    _MEIQIA('entId', 14353);
    </script>
    <script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?adb97d2c5a835681418c7b2bab31618a";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
    </script>
    <include file="./Template/Open/View_header.html"/>
	<div id="openclassDetail">
	    <div class="header">
	        <div class="container">
	            <img :src="classdata.t_img_url" alt="" class="pic">
	            <div class="info">
	            	<h3>{{classdata.names}}</h3>
	            	<p class="line">
	                    <span class="title">时间:</span>{{classdata.start_time}}
	                </p>
	                <p class="line">
	                    <span class="title">讲师:</span>{{classdata.teacher}}
	                </p>
	                <p class="line">
	                    <span class="title">时长:</span>{{classdata.timelength}}分钟
	                </p>
	                <p class="line">
	                    <span class="title">学习人数:</span>{{classdata.studynum}}人
	                </p>
	                <p class="line" style="width:100%;" v-if="classdata.livecate_info">
	                    <span class="title">直播类型:</span>{{classdata.livecate_info.cate_name}}
	                </p>
	                <p class="line" style="width:100%;" v-if="classdata.livecate_info">
	                    <span class="title">直播内容:</span>
	                    <span style="margin-right: 5px" v-for="n in classdata.livecontent_info">{{n.cate_name}}</span>
	                </p>
	            </div>
	            <a target="_blank" :href="classdata.playback_addr" class="see">查看回放</a>
	            <a target="_blank" href="javascript:void(0)" class="see chat" onclick="_MEIQIA('showPanel')">立即咨询</a>
	        </div>
	    </div>
	    <div class="main">
	    	<div class="container clearfix">
		    	<div class="left l_part">
		    		<div class="tabDv">
		    			<ul class="tabHeader clearfix">
		    				<li class="active" data-flag="tab1">课程简介</li>
		    				<li data-flag="tab2">上课方式</li>
		    				<li data-flag="tab3">讲师介绍</li>
		    				<!-- <li data-flag="tab4">课程表</li> -->
		    			</ul>
		    			<div class="tabcontent tab1 active" v-html="classdata.content"></div>
		    			<div class="tabcontent tab2" v-html="classdata.classway"></div>
		    			<div class="tabcontent tab3" v-html="classdata.teacherdes"></div>
		    		</div>
		    	</div>
		    	<div class="right r_part">
	    			<div class="clearfix">
	    				<h3 class="left">推荐课程</h3>
	    				<span class="change right" @click="change()"><img src="__PUBLIC__/Open/images/change.png" alt="">换一换</span>
	    			</div>
	    			<ul class="listUl">
	    				<li class="classItem" v-for="n in reco">
		                    <a :href="'/open/detail?id='+n.id" class="block_a">
		                        <img src="__PUBLIC__/Open/images/play.png" class="play" />
		                        <img :src="crm_domain+n.t_img_url" alt="" class="img">
		                    </a>
		                    <div class="inner">
		                        <p class="name">{{n.names}}</p>
		                        <p class="line">
		                            <span class="title">时间:</span>{{n.start_time}}
		                        </p>
		                        <p class="line">
		                            <span class="title">讲师:</span>{{n.teacher}}
		                        </p>
		                        <p class="line">
		                            <span class="title">时长:</span>{{n.timelength}}分钟
		                        </p>
		                    </div>
		                    <section class="bottomFont">
		                        <div class="style_view-num">学习人数 {{n.studynum}}</div>
		                        <a :href="'/open/detail?id='+n.id" class="style_view-readmore">查看详情</a>
		                    </section>
		                </li>
	    			</ul>
		    	</div>
	    	</div>
	    </div>
	    <p class="footer">
	        热线电话：4000-150-170<br />小莺教育科技有限公司 苏ICP备17069390号
	    </p>
    </div>
</body>

</html>